<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit</h1>
	<br />

	<form th:object="${book}" action="#" th:action="@{../save}" method="post">
		 <input type="hidden" th:field="*{id}" class="form-control" />
		Title:<input type="text" th:field="*{Title}" /> 
		Author: <input type="text" th:field="*{Author}" /> 
		ISBN: <input type="text" th:field="*{Isbn}" />
		Year: <input type="text" th:field="*{Year}" />
		<input type="submit" class="btn btn-success" value="Save"></input>
	</form>
</body>
</html>
